frontend/wasm/target
frontend/src/stories

backend/target
backend/.env

**/.claude

# tfstate
infrastructure/**/terraform.tfstate
infrastructure/**/terraform.tfstate.backup
infrastructure/**/.terraform

review
design